#n3397 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n3399 {
    margin-left: 50px;
    margin-top: 90px;
    width: 850px;
}

#n3400 {
    width: 850px;
}

#n3402 {
    height: 140px;
    width: 850px;
}

#n3404 {
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-color: rgb(245, 245, 245);
}

#n3406 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 50px;
    padding-top: 10px;
    width: 850px;
    margin-bottom: 120px;
}

#n3407 {
    margin-right: 300px;
    margin-top: 40px;
    padding-bottom: 15px;
    width: 850px;
}

#n3407 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n3408 {
    margin-bottom: 0px;
    width: 850px;
}

#n3409 {
    margin-right: 35px;
}

#n3410 {
    margin-right: 35px;
    margin-top: 4px;
}

#n3411 {
    margin-right: 35px;
    margin-top: 2px;
}

#n3412 {
    margin-top: 1px;
}

#n3413 {
    width: 490px;
    margin-top: 2px;
}

#n3414 {
    margin-top: 10px;
}

#n3396 {
    background-color: rgb(0, 0, 0);
    background-position: 50% 0%;
    background-repeat: repeat;
}

#n490 {
    height: 230px;
    width: 950px;
}

#n491 {
    margin-top: 20px;
    width: 950px;
}

#n492 {
    margin-top: 0px;
}

#n493 {
    width: 950px;
    margin-top: 5px;
}

#n593 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n595 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: none;
    width: 850px;
    margin-left: 50px;
}

#n601 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 250px;
    padding-top: 10px;
}

#n604 {
    width: 200px;
}

#n626 {
    background-position: 50% 100%;
    background-repeat: repeat-x;
}

#n628 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 300px;
    padding-top: 10px;
}

#n629 {
    margin-top: 5px;
}

#n683 {
    margin-top: 12px;
}

#n689 {
    margin-top: 0px;
}

#n755 {
    width: 250px;
    margin-left: 50px;
}

#n779 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n781 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: none;
    border-bottom-width: 0px;
    margin-left: 300px;
    margin-top: 60px;
    padding-top: 20px;
}

#n789 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}

#n790 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

#n948 {
    width: 600px;
}

#n949 {
    width: 250px;
    height: 149px;
}

#n949 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n956 {
    margin-top: 43px;
    width: 600px;
}

#n1008 {
    height: 87px;
    width: 129px;
    margin-left: 470px;
}

#n1009 {
    margin-top: 18px;
    width: 129px;
}

#n1032 {
    margin-right: 300px;
    padding-bottom: 15px;
}

#n1032 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n1033 {
    margin-bottom: 15px;
    margin-top: -5px;
}

#n1033 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n1034 {
    margin-bottom: -10px;
}

#n1035 {
    margin-right: 35px;
}

#n1036 {
    margin-right: 35px;
    margin-top: 4px;
}

#n1037 {
    margin-top: 2px;
}

#n1057 {
    background-position: 0% 0%;
    background-repeat: repeat-x;
}

#n1057 {
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 6px;
    height: 20px;
}

#n1356 {
    width: 250px;
}

#n1358 {
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#n1358 {
    height: 122px;
    margin-left: 15px;
    margin-top: 25px;
    width: 122px;
}

#n1359 {
    height: 122px;
}

#n1360 {
    height: 122px;
}

#n1361 {
    height: 122px;
}

#n1362 {
    height: 122px;
}

#n1363 {
    height: 122px;
}

#n1364 {
    height: 122px;
}

#n1365 {
    height: 122px;
}

#n1366 {
    height: 122px;
}

#n1367 {
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#n1367 {
    height: 122px;
    margin-left: 15px;
    margin-top: 25px;
    width: 122px;
}

#n1368 {
    height: 122px;
}

#n1369 {
    height: 122px;
}

#n1370 {
    height: 122px;
}

#n1371 {
    height: 122px;
}

#n1372 {
    height: 122px;
}

#n1375 {
    height: 122px;
}

#n1377 {
    width: 250px;
    margin-left: 50px;
}

#n1378 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-right: 50px;
    padding-bottom: 3px;
    width: 150px;
}

#n1381 {
    border-left-width: 0px;
    width: 250px;
    height: 239px;
}

#n1381 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n1382 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: none;
    border-bottom-width: 0px;
    margin-right: 50px;
    padding-bottom: 3px;
    width: 150px;
}

#n1548 {
    margin-top: 50px;
}

#n1549 {
    margin-left: 150px;
    width: 450px;
}

#n1570 {
    margin-bottom: 15px;
}

#n1592 {
    width: 450px;
}

#n1593 {
    width: 450px;
}

#n1594 {
    margin-top: -26px;
}

#n1708 {
    width: 150px;
}

#n1709 {
    width: 450px;
}

#n1710 {
    width: 450px;
}

#n1711 {
    margin-top: -26px;
}

#n1855 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 50px;
}

#n1857 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}

#n1858 {
    margin-top: 50px;
}

#n1859 {
    width: 300px;
}

#n1861 {
    width: 300px;
    margin-top: -20px;
}

#n1863 {
    width: 300px;
}

#n1864 {
    width: 300px;
    margin-top: 10px;
}

#n1865 {
    margin-top: 60px;
}

#n1866 {
    margin-bottom: 15px;
}

#n1867 {
    margin-top: 0px;
}

#n1868 {
    width: 150px;
}

#n1869 {
    width: 450px;
}

#n1870 {
    width: 450px;
}

#n1871 {
    margin-top: -26px;
}

#n1872 {
    margin-top: -3px;
}

#n1873 {
    margin-top: 10px;
}

#n1874 {
    width: 150px;
}

#n1875 {
    width: 450px;
}

#n1876 {
    width: 450px;
}

#n1877 {
    margin-top: -26px;
}

#n1878 {
    margin-top: -3px;
}

#n1879 {
    margin-top: 10px;
}

#n1880 {
    width: 150px;
}

#n1881 {
    width: 450px;
}

#n1882 {
    width: 450px;
}

#n1883 {
    margin-top: -26px;
}

#n1884 {
    margin-top: -3px;
}

#n1885 {
    margin-top: 10px;
}

#n1886 {
    width: 150px;
}

#n1887 {
    width: 450px;
}

#n1888 {
    width: 450px;
}

#n1889 {
    margin-top: -26px;
}

#n1890 {
    margin-top: 40px;
}

#n1891 {
    margin-bottom: 15px;
}

#n1892 {
    margin-left: 0px;
    width: 150px;
}

#n1893 {
    width: 450px;
}

#n1894 {
    width: 450px;
}

#n1895 {
    margin-top: -26px;
}

#n1896 {
    margin-top: 40px;
}

#n1897 {
    margin-bottom: 15px;
}

#n1898 {
    margin-left: 150px;
    width: 450px;
}

#n1899 {
    margin-bottom: 0px;
    margin-top: 20px;
}

#n1900 {
    margin-bottom: 15px;
}

#n1901 {
    margin-left: 150px;
    width: 450px;
}

#n2404 {
    margin-top: 60px;
}

#n2405 {
    margin-top: 0px;
}

#n2521 {
    margin-top: 60px;
}

#n2522 {
    margin-bottom: 15px;
}

#n2523 {
    margin-top: 0px;
}

#n2524 {
    width: 150px;
}

#n2525 {
    width: 450px;
}

#n2526 {
    width: 450px;
}

#n2527 {
    margin-top: -26px;
}

#n2528 {
    margin-top: -3px;
}

#n2529 {
    margin-top: 10px;
}

#n2530 {
    width: 150px;
}

#n2531 {
    width: 450px;
}

#n2532 {
    width: 450px;
}

#n2533 {
    margin-top: -26px;
}

#n2534 {
    margin-top: -3px;
}

#n2535 {
    margin-top: 10px;
}

#n2536 {
    width: 150px;
}

#n2537 {
    width: 450px;
}

#n2538 {
    width: 450px;
}

#n2539 {
    margin-top: -26px;
}

#n2540 {
    margin-top: -3px;
}

#n2541 {
    margin-top: 10px;
}

#n2542 {
    width: 150px;
}

#n2543 {
    width: 450px;
}

#n2544 {
    width: 450px;
}

#n2545 {
    margin-top: -26px;
}

#n2547 {
    margin-top: 10px;
}

#n2548 {
    width: 150px;
}

#n2549 {
    width: 450px;
}

#n2550 {
    width: 450px;
}

#n2551 {
    margin-top: -26px;
}

#n2957 {
    margin-top: 20px;
}

#n2958 {
    margin-top: 0px;
}

#n2959 {
    margin-left: 243px;
    margin-right: 243px;
    margin-top: 40px;
}

#n3094 {
    margin-right: 20px;
}

#n3111 {
    border-top-color: rgb(222, 222, 222);
    border-top-width: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    margin-bottom: 20px;
    width: 850px;
}

#n3189 {
    margin-left: 50px;
    width: 850px;
}

#n3190 {
    border-top-color: rgb(222, 222, 222);
    border-top-width: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 850px;
}

#n3191 {
    width: 850px;
}

#n3192 {
    margin-right: 20px;
}

#n3194 {
    margin-right: 20px;
}

#n3196 {
    margin-right: 0px;
}

#n3198 {
    width: 850px;
}

#n3324 {
    margin-right: 300px;
    padding-bottom: 15px;
}

#n3324 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n3325 {
    margin-bottom: -13px;
}

#n3326 {
    margin-right: 35px;
}

#n3327 {
    margin-right: 35px;
    margin-top: 4px;
}

#n3328 {
    margin-top: 2px;
}

#n3365 {
    background-position: 50% 0%;
    background-repeat: repeat;
    background-color: rgb(0, 0, 0);
}

#n3367 {
    margin-bottom: 60px;
    margin-left: 50px;
    margin-top: 100px;
    width: 850px;
}

#n3368 {
    margin-right: 20px;
}

#n3368 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

#n3369 {
    width: 270px;
}

#n3370 {
    width: 270px;
}

#n3371 {
    width: 270px;
}

#n3372 {
    margin-right: 20px;
}

#n3373 {
    width: 270px;
}

#n3374 {
    width: 270px;
}

#n3375 {
    width: 270px;
}

#n3376 {
    margin-right: 0px;
}

#n3377 {
    width: 270px;
}

#n3378 {
    width: 270px;
}

#n3379 {
    width: 270px;
}

#n3380 {
    width: 850px;
}

#n3381 {
    width: 850px;
}

.text p {
    color: #555555;
    font-weight: normal;
    font-style: normal;
    font-family: 'helvetica';
    text-transform: none;
    text-decoration: none;
}

.text h1 {
    line-height: 36px;
    font-size: 29px;
    color: #000000;
    font-family: 'helvetica';
    text-transform: capitalize;
}

.text h1 {
    border-bottom: 0px dotted rgb(85, 85, 85);
    margin-bottom: 22px;
    padding-bottom: 14px;
    padding-top: 6px;
}

.text a:hover {
    color: #555555;
    text-decoration: underline;
}

.text h2 {
    line-height: 7px;
    font-size: 18px;
    color: #555555;
    font-family: 'helvetica';
}

.text h2 {
    border-bottom-style: none;
    margin-bottom: 9px;
    margin-top: 21px;
    padding-bottom: 8px;
}

.text ul {
    color: #555;
}

.text thead {
    font-size: 16px;
    color: #0097A9;
    font-weight: bold;
}

.text tbody {
    color: #555;
}

.text thead td {
    border-bottom: 1px dotted rgb(85, 85, 85);
    padding-bottom: 19px;
}

.text tbody td {
    border-bottom: 1px dotted rgb(85, 85, 85);
    padding-bottom: 10px;
    padding-top: 10px;
}

.text a, .text a:visited, .text a:focus {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.text label, .mail_form label {
    color: #555555;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.text h3 {
    line-height: 27px;
    font-size: 20px;
    color: #0097A9;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.text h3 {
    border-top-color: rgb(85, 85, 85);
    border-top-style: dotted;
}

.text h4 {
    line-height: 2px;
    font-size: 21px;
    color: #555555;
    font-family: 'helvetica';
}

.text a:active, .text a.active {
    color: #555555;
    text-decoration: underline;
}

.t407 p {
    line-height: 18px;
    font-size: 12px;
    color: #3B3B3B;
    font-family: 'helvetica';
}

.t407 p {
    margin-top: 0px;
}

.t407 h3 {
    font-size: 30px;
    color: #241F20;
    font-weight: normal;
    font-family: 'helvetica';
}

.t407 h5 {
    font-size: 17px;
    color: #3B3B3B;
    font-weight: normal;
    font-style: normal;
    font-family: 'arial', 'helvetica', 'sans-serif';
    text-transform: none;
    text-decoration: none;
}

.t407 a, .t407 a:visited, .t407 a:focus {
    color: #3B3B3B;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.t407 h4 {
    font-size: 20px;
    color: #3B3B3B;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.t421 p {
    height: 5px;
    width: 950px;
}

.t421 p {
    font-size: 20px;
    color: #241F20;
    font-weight: bold;
    font-family: 'helvetica';
    text-transform: none;
}

.t524 {
    width: 900px;
}

.t564 {
    width: 600px;
}

.t570 > .ul0 > .li0 > a, .t570 > .ul0 > .li0 > a:visited, .t570 > .ul0 > .li0 > .folder_span {
    line-height: 25px;
    font-size: 13px;
    color: #767676;
    font-weight: normal;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.t570 > .ul0 > .li0:hover > a {
    line-height: 25px;
    font-size: 13px;
    color: #000000;
    font-weight: normal;
    font-family: 'arial', 'helvetica', 'sans-serif';
    text-transform: none;
    text-decoration: none;
}

.t570 > .ul0 > .li0.active > a {
    line-height: 25px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    font-family: 'arial', 'helvetica', 'sans-serif';
    text-transform: none;
    text-decoration: none;
}

.t570 {
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 150px;
}

.t582 {
    margin-top: 30px;
    padding-bottom: 70px;
}

.t583 {
    border-top-style: none;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-top: 0px;
    width: 600px;
}

.t586 {
    height: 222px;
    width: 300px;
}

.t667 h2 {
    line-height: 16px;
    font-size: 22px;
    color: #3B3B3B;
    font-weight: normal;
    font-style: normal;
    font-family: 'georgia', 'palatino';
    text-transform: none;
    text-decoration: none;
}

.t670 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
}

.t670 {
    background-position: 0% 0%;
    background-repeat: repeat;
}

.t670 {
    height: 222px;
    width: 300px;
}

.t676 p {
    line-height: 13px;
    font-size: 11px;
    color: #3B3B3B;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.t676 p {
    margin-top: 10px;
    width: 570px;
}

.t771 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.t1023 {
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.t1236 {
    border-top-width: 1px;
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
}

.t1576 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t1839 p {
    line-height: 17px;
    font-size: 12px;
    color: #AFAFAF;
    font-family: 'arial', 'helvetica', 'sans-serif';
}

.t1849 {
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.t1851 {
    margin-bottom: 20px;
    width: 270px;
}

.t3284 p {
    color: #D1D1D1;
}

.t373 > .button_link {
    background-image: url('../images/portfolio.png');
    background-position: 0% 0%;
    width: 850px;
    height: 97px;
}

.t373 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t373_thmb {
    background-image: url('../images/ca22bf782e271d2cc4935659cb8ce6e6-portfolio.png');
}

.t374 > .button_link {
    background-image: url('../images/9316b3ea5951d6cd53305fe20f2e7d98-facebook-logo.png');
    background-position: 0% 0%;
    width: 50px;
    height: 50px;
}

.t374_thmb {
    background-image: url('../images/9316b3ea5951d6cd53305fe20f2e7d98-facebook-logo.png');
}

.t375 > .button_link {
    background-image: url('../images/7846e43801d3b8344932979931a6b6d5-Twitter_logo.png');
    background-position: 0% 0%;
    width: 50px;
    height: 49px;
}

.t375_thmb {
    background-image: url('../images/7846e43801d3b8344932979931a6b6d5-Twitter_logo.png');
}

.t389 > .button_link {
    background-image: url('../images/e5a7390ba7f6a1000a20106d2c631658-vanja%20kodermac%20insta.png');
    background-position: 0% 0%;
    width: 47px;
    height: 47px;
}

.t389_thmb {
    background-image: url('../images/e5a7390ba7f6a1000a20106d2c631658-vanja%20kodermac%20insta.png');
}

.t662 > .button_link {
    background-image: url('../images/c3f3e09390d31a98ca57686e0af07937-rs.jpeg');
    background-position: 0% 0%;
    width: 170px;
    height: 48px;
}

.t662_thmb {
    background-image: url('../images/c3f3e09390d31a98ca57686e0af07937-rs.jpeg');
}

.t929 > .button_link {
    background-image: url('../images/da794d748cfedf6a03e1892cb6ef4853-folder2.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t929 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t929_thmb {
    background-image: url('../images/da794d748cfedf6a03e1892cb6ef4853-folder2.jpeg');
}

.t930 > .button_link {
    background-image: url('../images/3b6f83794118379e1888b57a09a02a56-logo_folder.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t930 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t930_thmb {
    background-image: url('../images/3b6f83794118379e1888b57a09a02a56-logo_folder.jpeg');
}

.t931 > .button_link {
    background-image: url('../images/e50d1955e4b13f0a6cd0a010f80e1f90-folder3.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t931 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t931_thmb {
    background-image: url('../images/e50d1955e4b13f0a6cd0a010f80e1f90-folder3.jpeg');
}

.t947 {
    background-image: url('../images/b54ce2085bcf5365250ac71948b62d4e-bg_robi.jpeg');
}

.t947_thmb {
    background-image: url('../images/b54ce2085bcf5365250ac71948b62d4e-bg_robi.jpeg');
}

.t953 > .button_link {
    background-image: url('../images/072a56583290c57903695007113999c0-folder1.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t953 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t953_thmb {
    background-image: url('../images/072a56583290c57903695007113999c0-folder1.jpeg');
}

.t959 > .button_link {
    background-image: url('../images/5dfcabdf006fe0b63007ac6d528c41be-r_znak1.jpeg');
    background-position: 0% 0%;
    width: 120px;
    height: 119px;
}

.t959 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t959_thmb {
    background-image: url('../images/5dfcabdf006fe0b63007ac6d528c41be-r_znak1.jpeg');
}

.t983 > .button_link {
    background-image: url('../images/vimeo.jpeg');
    background-position: 0% 0%;
    width: 67px;
    height: 19px;
}

.t983 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t983_thmb {
    background-image: url('../images/5cbd229145a07d44edd632c54b913ff8-vimeo_icon.jpeg');
}

.t984 > .button_link {
    background-image: url('../images/behance.jpeg');
    background-position: 0% 0%;
    width: 81px;
    height: 15px;
}

.t984 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t984_thmb {
    background-image: url('../images/behance.jpeg');
}

.t985 > .button_link {
    background-image: url('../images/linkedIn.jpeg');
    background-position: 0% 0%;
    width: 80px;
    height: 20px;
}

.t985 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t985_thmb {
    background-image: url('../images/linkedIn.jpeg');
}

.t990 {
    background-image: url('../images/849329b78fa57c0c98fd202d34688081-icon1.jpeg');
}

.t990_thmb {
    background-image: url('../images/849329b78fa57c0c98fd202d34688081-icon1.jpeg');
}

.t1005 {
    background-image: url('../images/ed6c5fea6b566154c7b7a44acaad3b2d-4.jpeg');
}

.t1005_thmb {
    background-image: url('../images/ed6c5fea6b566154c7b7a44acaad3b2d-4.jpeg');
}

.t1007 {
    background-image: url('../images/a3f407f4a59c8c8538c8ff1b23ed5a7a-0_1.jpeg');
}

.t1007_thmb {
    background-image: url('../images/a3f407f4a59c8c8538c8ff1b23ed5a7a-0_1.jpeg');
}

.t1091 {
    background-image: url('../images/5518e622e205fe5615bb918c26e21937-test1.jpeg');
}

.t1091_thmb {
    background-image: url('../images/5518e622e205fe5615bb918c26e21937-test1.jpeg');
}

.t1180 > .button_link {
    background-image: url('../images/23976edf54753d08eb56cab669c3a9f3-nonaluisa.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1180 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1180_thmb {
    background-image: url('../images/23976edf54753d08eb56cab669c3a9f3-nonaluisa.jpeg');
}

.t1353 > .button_link {
    background-image: url('../images/fda664e861f5a72ce0907687b5715d54-folder_l.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1353 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1353_thmb {
    background-image: url('../images/fda664e861f5a72ce0907687b5715d54-folder_l.jpeg');
}

.t1515 > .button_link {
    background-image: url('../images/cc41248e1f518fc3fdac97a909fffe4a-folder_wine.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1515 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1515_thmb {
    background-image: url('../images/cc41248e1f518fc3fdac97a909fffe4a-folder_wine.jpeg');
}

.t1516 > .button_link {
    background-image: url('../images/4eb5a95878800f42f3ee9787a383d51b-folder_ill.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1516 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1516_thmb {
    background-image: url('../images/4eb5a95878800f42f3ee9787a383d51b-folder_ill.jpeg');
}

.t1517 > .button_link {
    background-image: url('../images/3fe87227ca28d3694ce47bd0c281e080-folder_anim.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1517 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1517_thmb {
    background-image: url('../images/3fe87227ca28d3694ce47bd0c281e080-folder_anim.jpeg');
}

.t1518 > .button_link {
    background-image: url('../images/840aecb4919206101f3dde67b915ad01-folder_luisa.jpeg');
    background-position: 0% 0%;
    width: 300px;
    height: 222px;
}

.t1518 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1518_thmb {
    background-image: url('../images/840aecb4919206101f3dde67b915ad01-folder_luisa.jpeg');
}

.t1840 > .button_link {
    background-image: url('../images/7ad121ac373c701f0d9a7945acb77b56-logo_pack_folder.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t1840 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1840_thmb {
    background-image: url('../images/7ad121ac373c701f0d9a7945acb77b56-logo_pack_folder.jpeg');
}

.t1848 > .button_link {
    background-image: url('../images/6e0f4ae84c4a766e15d09f83065c568a-labels_fol.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t1848 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1848_thmb {
    background-image: url('../images/6e0f4ae84c4a766e15d09f83065c568a-labels_fol.jpeg');
}

.t1850 > .button_link {
    background-image: url('../images/418b84531a6a4ae29f3d5f3899140a18-print_illustration.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t1850 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1850_thmb {
    background-image: url('../images/418b84531a6a4ae29f3d5f3899140a18-print_illustration.jpeg');
}

.t1852 > .button_link {
    background-image: url('../images/7f8be6047cf5c20bdeeab937ca404689-kristancic_wines.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t1852 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1852_thmb {
    background-image: url('../images/7f8be6047cf5c20bdeeab937ca404689-kristancic_wines.jpeg');
}

.t1853 > .button_link {
    background-image: url('../images/a20c75b843688e1387985c178a5e16c3-nona_luisa.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t1853 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t1853_thmb {
    background-image: url('../images/a20c75b843688e1387985c178a5e16c3-nona_luisa.jpeg');
}

.t2296 > .button_link {
    background-image: url('../images/1890407ba0f466035de85d3fc6abac46-folder_fana.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2296 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2296_thmb {
    background-image: url('../images/1890407ba0f466035de85d3fc6abac46-folder_fana.jpeg');
}

.t2299 > .button_link {
    background-image: url('../images/ce1f6b0267fc143747af12ae56d20811-folder_pulec.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2299 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2299_thmb {
    background-image: url('../images/ce1f6b0267fc143747af12ae56d20811-folder_pulec.jpeg');
}

.t2353 > .button_link {
    background-image: url('../images/06ab041b2ed970e26708b26a8bf9912e-web_folder1.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2353 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2353_thmb {
    background-image: url('../images/06ab041b2ed970e26708b26a8bf9912e-web_folder1.jpeg');
}

.t2388 > .button_link {
    background-image: url('../images/659af7301d2046a6fb537b492299a830-mail.png');
    background-position: 0% 0%;
    width: 46px;
    height: 46px;
}

.t2388 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2388_thmb {
    background-image: url('../images/659af7301d2046a6fb537b492299a830-mail.png');
}

.t2414 > .button_link {
    background-image: url('../images/273004640f81c5831c5487023e945ebc-efekt_shovel.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2414 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2414_thmb {
    background-image: url('../images/273004640f81c5831c5487023e945ebc-efekt_shovel.jpeg');
}

.t2418 > .button_link {
    background-image: url('../images/59d8605282c310684694486f57f86192-motion_graphics.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2418 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2418_thmb {
    background-image: url('../images/59d8605282c310684694486f57f86192-motion_graphics.jpeg');
}

.t2419 > .button_link {
    background-image: url('../images/ff177c6b8b7f061f0d6ec39ef74ce4c1-flip_folder.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2419 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2419_thmb {
    background-image: url('../images/ff177c6b8b7f061f0d6ec39ef74ce4c1-flip_folder.jpeg');
}

.t2422 > .button_link {
    background-image: url('../images/c79e7a236a5ba329dd9162f2dcdcfbe9-ab.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2422 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2422_thmb {
    background-image: url('../images/c79e7a236a5ba329dd9162f2dcdcfbe9-ab.jpeg');
}

.t2430 > .button_link {
    background-image: url('../images/45f54f8b92e61c41a7ee2e15e1d8afad-sddh1.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2430 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2430_thmb {
    background-image: url('../images/45f54f8b92e61c41a7ee2e15e1d8afad-sddh1.jpeg');
}

.t2594 > .button_link {
    background-image: url('../images/25c88e4fa0ec61d4db0a87c5eadee006-vimeo_button.jpeg');
    background-position: 0% 0%;
    width: 114px;
    height: 114px;
}

.t2594 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2594_thmb {
    background-image: url('../images/25c88e4fa0ec61d4db0a87c5eadee006-vimeo_button.jpeg');
}

.t2652 > .button_link {
    background-image: url('../images/1babd1840ae1dea1182749a039a3c867-zgodbe_folder1.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2652 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2652_thmb {
    background-image: url('../images/1babd1840ae1dea1182749a039a3c867-zgodbe_folder1.jpeg');
}

.t2697 > .button_link {
    background-image: url('../images/c359dbabd7efc02fc10f7d2ea15e0bc5-sweeping-monkey.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2697 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2697_thmb {
    background-image: url('../images/c359dbabd7efc02fc10f7d2ea15e0bc5-sweeping-monkey.jpeg');
}

.t2698 > .button_link {
    background-image: url('../images/fdbfa9a21d18222fc394999ae038b49c-Shaolin_folder.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2698 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2698_thmb {
    background-image: url('../images/fdbfa9a21d18222fc394999ae038b49c-Shaolin_folder.jpeg');
}

.t2768 > .button_link {
    background-image: url('../images/a83ac54ed2e624b912e767b2ff86a24b-Valens_folder1.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2768 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2768_thmb {
    background-image: url('../images/a83ac54ed2e624b912e767b2ff86a24b-Valens_folder1.jpeg');
}

.t2954 > .button_link {
    background-image: url('../images/eec166f28a2449806240a8cec2ec6bcc-logo_pack_02.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2954 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2954_thmb {
    background-image: url('../images/eec166f28a2449806240a8cec2ec6bcc-logo_pack_02.jpeg');
}

.t2967 > .button_link {
    background-image: url('../images/a07b52e6b3f0b8b05ba0eb52ca1b5396-efekt_folder.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t2967 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t2967_thmb {
    background-image: url('../images/a07b52e6b3f0b8b05ba0eb52ca1b5396-efekt_folder.jpeg');
}

.t3083 > .button_link {
    background-image: url('../images/de9834baae3a6c28be7caea29b592bd7-Curioso_folder.jpeg');
    background-position: 0% 0%;
    width: 270px;
    height: 398px;
}

.t3083 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t3083_thmb {
    background-image: url('../images/de9834baae3a6c28be7caea29b592bd7-Curioso_folder.jpeg');
}

.t3102 > .button_link {
}

.t3102 > .button_link:hover {
    background-position: 100% 0% !important;
}

.t3102_thmb {
    background-image: url('');
}

.t3231 {
    background-image: url('../images/a2f089a6ea2194d6d1b7d198b25102de-bg_robi.jpeg');
}

.t3231_thmb {
    background-image: url('../images/a2f089a6ea2194d6d1b7d198b25102de-bg_robi.jpeg');
}

.t3360 {
    background-image: url('../images/c884425e836fcc2e9eee63f212c53b0c-bg_steklenica1.jpeg');
}

.t3360_thmb {
    background-image: url('../images/c884425e836fcc2e9eee63f212c53b0c-bg_steklenica1.jpeg');
}

.t3362 > .button_link {
}

.t3362_thmb {
    background-image: url('');
}

.t3382 > .button_link {
}

.t3382_thmb {
    background-image: url('');
}

.t3384 > .button_link {
}

.t3384_thmb {
    background-image: url('');
}

.t3389 > .button_link {
}

.t3389_thmb {
    background-image: url('');
}

.t3391 > .button_link {
}

.t3391_thmb {
    background-image: url('');
}

.t3392 > .button_link {
}

.t3392_thmb {
    background-image: url('');
}

.t3393 > .button_link {
}

.t3393_thmb {
    background-image: url('');
}

.t3394 > .button_link {
}

.t3394_thmb {
    background-image: url('');
}
